<%inherit file="base.htm" />

<%block name="content">
    <style>
    	html, body {
    		padding: 0;
    		margin: 0;
    	}
    	div{
    		float: left;
    		display: inline;
    	}
    </style>
    <a href="/upload">
    	<div id="mainImage">
    		<div id="MILocation">
    			<h1 id="mainText">Upload a photo</h1>
    		</div>
    	</div>
	</a>
    <div class="sameFilter" id="imgTopLeft"></div>
    <div class="sameFilter" id="smallMiddle"></div>
    <div class="sameFilter" id="tallRight"></div>
    <div class="sameFilter" id="bottomLeft"></div>
    <div class="sameFilter" id="bottomMiddle"></div>
</%block>