<%inherit file="base.htm" />

<%block name="content">
  <%!
  import os
  %>
  <div class="section contentpart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h1 style="width:100%; margin-top: 40px; text-align: center">Your Images</h1>
          <form action="/upload" id="form" method="post" enctype="multipart/form-data">
            ${ csrf_input }
            <label for="id_file_field" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Upload
            </label>
            <input type="file" class="box" name="file_field" multiple required="False" id="id_file_field">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section contentpart">
    <div class="container">
      <div class="row">
        %for image in imageqry:
          <div class="col-md-4">
            <div class="image_styling">
              <img src="/static/${ image.mainImage }" width="100%"/>
              <button onClick="" class="confirm">Submit: <i class="fa fa-check"></i></button>
              <button class="trash btn btn-large btn-primary" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="Stoooop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-title="Is it ok?" data-content="This might be dangerous" data-singleton="true"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>
        %endfor
      </div>
    </div>
  </div>
  <script src="jquery.js"></script>
  <script src="jquery.form.min.js"></script>
  <script>
    document.getElementById("id_file_field").onchange = function() {
      document.getElementById("form").submit();
    };

    function deleteImage(){
      if(confirm("Delete?")) {

      }
      else {

      }
    }
  </script>
</%block>
