<%inherit file="base.htm" />

<%block name="content">
  <%!
  import os
  %>
  <div class="section contentpart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h1 style="width:100%; margin-top: 40px; text-align: center">Your Images</h1>
          <form action="/upload" id="form" method="post" enctype="multipart/form-data">
            ${ csrf_input }
            <label for="id_file_field" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> upload
            </label>
            <input type="file" class="box" name="file_field" multiple required="False" id="id_file_field">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section contentpart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          %for image in imageqry:
            <div class="image_styling col-md-4" style="background-image: url('/static/${ image.mainImage }');">
              <img src="/static/${ image.mainImage }" height="100px"/>
              <button><i class="fa fa-trash-o"></i></button>
            </div>
          %endfor
        </div>
      </div>
    </div>
  </div>
  <script src="jquery.js"></script>
  <script src="jquery.form.min.js"></script>
  <script>
    document.getElementById("id_file_field").onchange = function() {
      document.getElementById("form").submit();
    };
  </script>
</%block>
